@import "../../vars.scss";

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: left; /* Changed from 'left' to 'flex-start' */
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 1.5vh;
  color: $color-light;
}

.info {
  margin-bottom: 2vh;
}

h1 {
  text-transform: uppercase;
  font-size: 4vh;
}
.contact {
  display: flex;
  flex-direction: row; /* Changed from 'column' to 'row' to place children side by side */
}

.askMe {
  width: 50%;
  margin-right: 4%;
  /* No change needed here, but ensure that the combined width of .askMe and .botHolder does not exceed 100% including margins */
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.row {
  display: flex;
  margin-bottom: 1.5vh;
}

label {
  width: 30vh;
  margin-right: 2vw;
}

.submit {
  margin-top: 2%;
  padding: 10px 20px; /* Increase padding for a larger button */
  background-color: $color-dark-green;
  color: $color-light;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: darken($color-dark-green, 5%);
}

input,
select,
textarea {
  flex: 1;
  width: 100%; /* Ensure inputs take full width of the container */
  padding: 10px; /* Increase padding for larger height */
  border: 1px solid $color-light-green;
  border-radius: 5px;
  font-size: 2.2vh;
  color: black;
  background-color: $color-light;
  margin-bottom: 1.5vh; /* Add margin between input elements */
  resize: vertical;
}

.bot {
  width: 50%; /* Set the width to 50% to match .askMe */
  height: 50vh; /* Adjust the height as needed */
  background-color: $color-dark-green;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  color: #dadada;
  border-radius: 15px;
}








