@import "../../vars.scss";

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $color-grey;
  align-items: center;
  padding: 2vh 2vw;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.navLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
}

.navLinks li {
  width: 100%;
}

.navButton {
  background-color: $color-grey;
  color: $color-light;
  border: none;
  border-radius: 3.5px;
  padding: 0.75vh 0.6vw; 
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  text-align: left; 
}

.navButton:hover {
  background-color: $color-dark-green;
  transform: scale(1.05);
}

.navButton:focus {
  outline: none;
}




