@import 'vars.scss';

@function random-range($min, $max) {
  @return $min + random($max - $min + 1) - 1;
}

// Function to generate multiple box shadows for stars
@function multiple-box-shadow($n) {
  $value: '#{random-range(-1000, 1000)}px #{random-range(-1000, 1000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random-range(-1000, 1000)}px #{random-range(-1000, 1000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.stars, .stars2, .stars3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  @media (max-width: 899px) {
    display: none; // Hide stars on mobile
  }
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}

.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
}

.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #132515 0%, #070c07 100%);
  overflow: hidden;

  @media (max-width: 899px) {
    overflow-y: auto; // Enable scrolling for mobile viewports
  }
}

.app {
  display: flex;
  height: 85vh;
  width: 84vw;
  overflow: hidden;
  border: 20px solid $color-grey;
  border-radius: 20px;
  position: relative;
  z-index: 10; // Ensure content is above the stars

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (max-width: 899px) {
    height: 100vh; // Make it take the entire height on mobile
    width: 100vw; // Make it take the entire width on mobile
    overflow-y: auto; // Allow scrolling on mobile
    flex-direction: column;
  }
}

.sidebar {
  width: 20vw;
  height: 100%; // Adjusted to match the app height
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 899px) {
    width: 100%;
    height: auto; // Allow the sidebar to grow with content on mobile
  }
}

.main {
  flex: 1;
  height: 100%; // Ensure the height matches the sidebar
  display: flex; // Ensure flexbox properties are applied
  flex-direction: column; // Ensure column layout for main content
  background-color: $color-grey;

  @media (min-width: 768px) {
    overflow-y: auto;
  }

  @media (max-width: 899px) {
    height: auto; // Allow the main content to grow with content on mobile
  }
}
