:root {
    /* Colours */
    $color-white: #fff;
    $color-light: #fffed2;
    $color-light-green: #76b96f;
    $color-green: #0b9f00;
    $color-dark-green: #0c470b;
    $color-dark: #002b01;
    $color-black: #000;
    
    /* Fonts */
    --font-roboto: "Roboto";
}