
/* Colours */
$color-white: #fff;
$color-text: #4b4b4b;
$color-light: #fffed2;
$color-light-green: #76b96f;
$color-green: #0b9f00;
$color-dark-green: #303b30;
$color-dark: #263326;
$color-black: #000;
$color-grey: #9b9b9b;
/* Fonts */
$font-roboto: "Roboto";
